// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

th {
    padding-bottom: 5px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

div.field, div.actions {
    margin-bottom: 10px;
}

label {
    display: block;
}

a {
    color: #000;
}